<% provide(:title, "All Courses") %>
<h1>Courses</h1>

<h2><%= link_to "Create new course", new_supervisors_course_path %></h2>

<ul class="courses">
  <% @courses.each do |course| %>
    <li>
      <h4><div><%= link_to course.course_name, supervisors_course_path(course) %></div></h4>
      <p2>Description</p2>
      <div><%= course.description %></div>
    </li>
    <div>
        <%= link_to "Edit ", edit_supervisors_course_path(course) %>  |
        <%= link_to "Delete", supervisors_course_path(course),  method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</ul>