<% provide(:title, "Create course") %>
<h1> Create a new course </h1>
<div class="row">
  <div class="span6 offset3">
  <%= form_for [:supervisors, @course] do |f| %>
    <%= render 'shared/error_messages' %>
    <%= f.text_field :course_name, placeholder: "Name" %>
    <%= f.text_area :description, placeholder: "Description" ,:size =>"10x6" %>

    <div>
        <%= f.fields_for :course_subjects do |builder| %>
          <% subject = builder.object.subject %>
          <div>
            <%= builder.check_box :subject_id, 
              {checked: builder.object.persisted?}, subject.id, '' %>
            <%= subject.subject_name %>
          </div>
        <% end %>
      </div>
      <br>
      <%= f.submit "Save", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>