<% provide(:title, "All Subjects") %>
<h1>All Subjects</h1>
<h2><%= link_to "Create new subject", new_supervisors_subject_path %></h2>

<ul class="subjects">
  <% @subjects.each do |subject| %>
    <li>
      <h4><div><%= link_to subject.subject_name, supervisors_subject_path(subject) %></div></h4>
      <p2>Description</p2>
      <div><%= subject.description %></div>
    </li>
    <div>
        <%= link_to "Edit ", edit_supervisors_subject_path(subject) %>  |
        <%= link_to "Delete", supervisors_subject_path(subject),  method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
  <% end %>
</ul>